@import "~antd/dist/antd.less";
@import "./black.less"; 

.logo {
  height: 64px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 64px;
}

///////////////////////// common /////////////////////////
.sofa-modal-form {
  padding-left: 30px;
  padding-right: 50px;
}

///////////////////////// containers/ToolbarTableModal /////////////////////////