@import "~antd/dist/antd.less";
@import "./black.less"; 

.logo {
  height: 64px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 64px;
}
.ant-menu {
  background-color: #001529;
  color: #fff;
  .ant-menu-submenu>.ant-menu {
    background-color: #2d383d;
  }
  &:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #2d383d !important;
  }
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border: none;
}
///////////////////////// common /////////////////////////
.sofa-modal-form {
  padding-left: 30px;
  padding-right: 50px;
}

///////////////////////// containers/ToolbarTableModal /////////////////////////